html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
} 

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-nav {
    display: flex;
}

.header {
    background-color:  #FFFFFF;
    letter-spacing: 0.02em;
}

a .span {
   color: #2196F3;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
}

.nav-studio {
    color: var(--black-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.site-nav {
    display: flex;
    padding: 0;
    margin: 0;
}

.site-nav .item {
    background-color: red;
    outline: 2px solid green;
}

.site-nav .item+ .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;

    color: var(--black-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--accent-color);
}

/*auth nav*/
.contacts {
    display: flex;
    padding: 0;
    margin: 0;
}
.contacts .item {
    display: flex;
}
.contacts .item+ .item {
    margin-left: 50px;
}

.contacts a {
    font-weight: 500;
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.14;
}

.contacts a:hover, 
.contacts a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
     color: var(--accent-color);
}

.section-title {
    color:var(--black-text);
}

/*HERO*/
.hero {
    background: var(--baground-color);
    letter-spacing: 0.06em;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 44px;
    color: var(--white-text);
    font-family: Roboto;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
}

.button {
    font-weight: 700;
    font-size: 16px;
    background-color: var(--accent-color);
    color: var(--white-text);
    line-height: 1.9;
    align-items: center;
    text-align: center;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}
/*ЗАГОЛОВОК БУДЕТ УБИРАТЬСЯ*/
.section-title {
    margin-top: 0;
    margin-bottom: 0;
}

.feature .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    color: var(--black-text);
    line-height: 1.14;
}

.paragraf {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-text);
    line-height: 1.7;
}
.section-topic {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.section-second {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--baground-second);
}
.section-second.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.spisok {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    display: block;
}
.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.par {
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.footer {
    background-color: var(--baground-color);
}
.footer-studio {
    font-weight: bold;
    font-size: 26px;
    color: var(--white-text);
}

.footer-street {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-text);
    line-height: 1.7;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.mailto, .tel {
    color: var(--grey-text-op06);
}