html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
} 

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    background-color:  #FFFFFF;
    letter-spacing: 0.02em;
}

a .span {
   color: #2196F3;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
}

.nav-studio {
    padding: 0;
    margin: 0;
    color: var(--black-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
    padding-bottom: 25px;
}

.nav-header,
.nav-list,
.contacts {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    align-item: center;
    padding-top: 24px;
}
.nav-header {
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin-left: 50px;
}
.contacts {
    pading: 0;
    margin: 0;
}

.contacts li:last-child{
    margin-left: 50px;
}
.site-nav a {
    font-weight: 500;
    color: var(--black-text);
    font-size: 14px;
    line-height: 1.14;
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--accent-color);
}

.contacts a {
    font-weight: 500;
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.14;
}

.contacts a:hover, 
.contacts a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
     color: var(--accent-color);
}

.section-title {
    color:var(--black-text);
}

/*button*/

.name {
    padding: 0;
    margin: 0;
    text-align: center;
}

.knopki {
    display: flex;
    padding: 0;
    margin-top: 94px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 16px;
    color: var(--black-text);
    line-height: 1.6;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;  
}

.button {
    border-radius: 4px;
    margin-right: 8px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
}
.knopki button:hover, 
.knopki button:focus {
    color: var(--accent-color);

}

.button:hover {
    curcor: pointer;
    background-color: var(--accent-color);
    color: white;
}

/*card*/
.table {
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
    margin-bottom: 94px;
}

.table > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-content {
    padding: 20px 24px;
}
.table-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.card-text {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-text);
    font-family: Roboto;
    line-height: 1.9;
}

/*footer*/
.footer {
    background-color: var(--baground-color);
}

.container-footer {
    max-width: 1200px;
    min-hight: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-studio {
    margin-top: 60px;
    padding: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--white-text);
    font-family: Raleway, sans-serif;
}

.span {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
}

.footer-street {
    margin-top: 20px;
    margin-bottom: 9px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    color: var(--white-text);
    line-height: 1.7;
}

.footer-street > .footer-mail:not(:last-child) {
    margin-bottom: 9px;
}

.footer-mail {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}

.mailto, .tel {
    color: var(--grey-text-op06);

}

.mailto {
    margin-bottom: 9px;
}
.tel {
    margin-bottom: 60px;
}