body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}
.header {
    background-color:  #FFFFFF;
    letter-spacing: 0.02em;
}
a {
    text-decoration: none;
} 

a .span {
   color: #2196F3;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
}

.nav-studio {
    color: var(--black-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.site-nav a {
    font-weight: 500;
    color: var(--black-text);
    font-size: 14px;
    line-height: 1.14;
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--accent-color);
}

.contacts a {
    font-weight: 500;
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.14;
}

.contacts a:hover, 
.contacts a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
     color: var(--accent-color);
}

.section-title {
    color:var(--black-text);
}


.knopki {
    font-weight: 500;
    font-size: 16px;
    color: var(--black-text);
    line-height: 1.6;
}
/*button {
    font-weight: bold;
    font-size: 16px;
    color: var(--white-text);
     background-color: var(--accent-color);
}*/

.contacts a:hover, 
.contacts a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
     color: var(--accent-color);
}

.table-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-text);
    font-family: Roboto;
    line-height: 1.9;
}

.footer {
    background: var(--baground-color);
}
.footer-studio {
    font-weight: bold;
    font-size: 26px;
    color: var(--white-text);
}

.footer-street {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-text);
    line-height: 1.7;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.mailto, .tel {
    color: var(--grey-text-op06);
}